<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <center>   
    <h1>Delete Confirmation:</h1>
    <form method="post">
        <table>
            <tr>
                <td>
                    Are you sure you want to Delete?
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Yes" name="action">
                    <input type="submit" value="No" name="action">
                </td>
            </tr>
        </table>
    </form>
</center>
 
</body>
</html>