<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body 
        {
            background-color: antiquewhite;
        }
    </style>
</head>
<body>
    <center>
    <h1>Admin Home</h1> 
    <a href="/adminlogout">
        <input type="button" value="Logout"/></a>
    <hr/>
    <table border="1" style="border-style: double">        
        <tr>
            <td><a href="/showAllCategories">Show All Categories</a></td>
        </tr>
        <tr>
            <td><a href="/showAllCakes">Show All Cakes</a></td>
        </tr>        
    </table>
</form>
    </center>
</body>
</html>
